#sub {
  background-color: #818182;
  border-radius: 20px 20px 20px 20px;
  padding: 20px;
  width: 100%;
  margin-top: 20px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}

.containermyprofilePage {
  margin-top: 50px;
  margin-bottom: 50px;
  background: #fff;
  width: 1000px;
  border-radius: 20px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}

.myprofileForm {
  padding-bottom: 10px;
}

.controlmyprofileForm {
  width: 75%;
  border: none;
  padding: 10px;
}

.pen {
  padding-left: 20px;
  color: #dcdcdc;
}

.pen:hover {
  color: #a9a9a9;
}

.check {
  padding-left: 10px;
  color: #dcdcdc;
  font-size: 20px;
}

.check:hover {
  color: #a9a9a9;
}

.subbuttonForm {
  margin-top: 20px;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  transition: box-shadow 0.15s ease, transform 0.15s ease;
  will-change: box-shadow, transform;
  background: #fcfcfd;
  box-shadow: 0px 2px 4px rgb(45 35 66 / 40%),
    0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
  height: 40px;
  width: 120;
  padding: 0 32px;
  font-size: 18px;
  border-radius: 20px;
  color: #ffffff;
  transition: box-shadow 0.15s ease, transform 0.15s ease;

}

.subbuttonForm:hover {
  box-shadow: 0px 4px 8px rgb(45 35 66 / 40%),
    0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
  transform: translateY(-2px);
  background-color: #53c0a2;
}
.subbuttonForm:active {
  box-shadow: inset 0px 3px 7px #d6d6e7;
  transform: translateY(2px);
  
}



.labelmyprofilePage{
  margin-top:50px;
  font-size:40px; 
  color:#fff; 
  width:100%; 
  text-align:center;
  font-family: 'Source Code Pro', monospace;
  font-weight: 700;
}
