.loginCard {
    background-color: lightgray;
    position: relative;
    width: 450px;
    height: 450px;
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
    border-radius: 30px;
    align-items: center;
}
.logintextForm {
    position: relative;
    width:max-content;
    padding: 25px 0px 0px 0px;
    text-align: center;
    margin-left: 20px;
}
body {
    background: linear-gradient(45deg, #aa4b6b, #6b6b83, #3b8d99);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;

}
.loginbuttonForm{
    position: relative;
    padding: 40px 0px 0px 0px;
    text-align: center;
}
.logintitleForm{
    text-align: center;
}
