.buttons{
    position: relative;
    margin: 10px 10px 10px 10px;
    border-radius: 20px;
    width: 120px;
    background-color: #53c0a2;
    text-align: center;
   
    
}

.buttons:hover{
    border-color: #818182;
    background-color: #818182;
    border: 0px;
    
}


.nav-link{
    color: white !important;
}



.nav-link:hover{
    border: none;
    color: #fff;
    
}

.userInfo{
    margin: 10px 20px 10px 20px;
    position: relative;
    top: 20px;
    

}
.nav-tabs{
    background-color: white;
    justify-content: right;
    display: flex;
}

.navBar{
    background-color: #b5f7e6;
    border-color: #b5f7e6;
}